@media (max-width: 550px) and (min-width:320px){
    
    .table {
        grid-template-columns: repeat(1,0fr);
        grid-template-rows: repeat(8,0fr);
        justify-content: center;
        align-items: center;
    }

    .title {
        width: 285px;
    }

    h1 {
        text-align: left;
    }

    h2 {
        text-align: left;
    }
}
