@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body * {
    box-sizing: border-box;
}

.page {
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #fd1509;
    padding-top: 30px;
}

.events {
    background: linear-gradient(45deg, rgb(170, 250, 246), rgb(147, 250, 143));
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #0C2975;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin: 0;
}

.table {
    display: grid;
    grid-template-columns: repeat(5,0fr);
    grid-template-rows: repeat(2,0fr);
    grid-gap: 1rem;
    justify-content: space-around;
    padding-bottom: 50px;
}

.cell {
    width: 150px;
    align-items: left;
    height: 100px;
    margin: 15px;
    background-color: #fffad0;
}

p {
    padding: 10px;
    color: rgb(56, 6, 88);
    font-style: italic;
}

.pagedown {
    margin-top: 50px;
    margin-bottom: 80px;
}

.events2 {
    background: linear-gradient(45deg, rgba(179, 113, 199, 0.3), rgb(245, 161, 203));
    width: 80%;
    margin: 0 auto;
}

.tablebottom {
    display: grid;
    grid-template-columns: repeat(5,0fr);
    grid-template-rows: repeat(2,0fr);
    grid-gap: 1rem;
    justify-content: space-around;
    padding: 50px 0;
}
