@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #1D1D1D;
    font-style: normal;
}

body * {
    box-sizing: border-box;
}

.page {
    margin-top: 60px;
    margin-bottom: 40px;
}

.title {
    margin: 0 auto;
    width: 1230px;
}

h1 {
    text-align: left;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
}

h2 {
    color: #EE2F53;
    text-align: left;
    font-size: 26px;
    font-weight: lighter;
}

.table {
    display: grid;
    grid-template-columns: repeat(5,0fr);
    grid-template-rows: repeat(2,0fr);
    grid-gap: 1rem;
    justify-content: space-around;
    width: 96%;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
}

.cell {
    width: 230px;
    height: 280px;
    margin: 10px;
    border-radius: 12px;
}

.bigcell {
    width: 230px;
    height: 200px;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    border-radius: 12px;
}

.pin {
    width: 52px;
    height: 58px;
    position: relative;
    border-radius: 12px;
    top: -81px;
    left: 178px;
    cursor: pointer;
}

.corner {
    position: relative;
    width: 230px;
    height: 200px;
    border-radius: 12px;
}

.black_corner {
    position: relative;
    width: 198px;
    height: 198px;
    top: 3px;
    border-radius: 12px;
}

.date {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    position: relative;
    top: -37px;
    left: 12px;
}

.event {
    font-size: 14px;
    /*font-weight: lighter;*/
    text-transform: uppercase;
    margin: 0;
    padding-top:10px;
    color: #000000;
    padding-left: 5px;
}

.poster {
    font-size: 16px;
    margin: 0;
    padding-top: 7px;
    color: #000000;
    padding-left: 5px;
    font-weight: bolder;
}

/*.pagedown {
    margin-top: 50px;
    margin-bottom: 80px;
}

.events2 {
    background: linear-gradient(45deg, rgba(179, 113, 199, 0.3), rgb(245, 161, 203));
    background-color: #F3F7FC;
    border-radius: 15px;
    width: 95%;
    margin: 0 auto;
}

.tablebottom {
    display: grid;
    grid-template-columns: repeat(5,0fr);
    grid-template-rows: repeat(2,0fr);
    grid-gap: 1rem;
    justify-content: space-around;
    padding: 50px 0;
}*/
