@media (max-width: 1024px) and (min-width:550px){
        
    .table {
        grid-template-columns: repeat(2,0fr);
        grid-template-rows: repeat(4,0fr);
        justify-content: center;
        align-items: center;
    }

    .title {
        width: 600px;
    }
    
    .cell {
        width: 300px;
        height: 350px;
        margin: 12px;
    }

    .bigcell {
        width: 300px;
        height: 270px;
    }  
    
    .corner {
        width: 300px;
        height: 270px;
    }
    
    .black_corner {
        width: 242px;
        height: 242px;
        top: 29px;
    }

    .date {
        top: -20px;
        left: 16px;
    }

    .pin {
        left: 248px;
        top: -55px;
    } 
}    
